<button class="user-button" type="button" (click)="abrirPopup()">
  <span class="user-avatar">{{ (usuario()?.name?.charAt(0) ?? '?') | uppercase }}</span>

  @if (carregando()) {
    <span class="user-name">Carregando...</span>
  } @else if (erro()) {
    <span class="user-name user-name--erro">Erro ao carregar</span>
  } @else {
    <span class="user-name">{{ usuario()?.name }}</span>
  }
</button>

@if (exibirPopup() && usuario()) {
  <app-user-popup
    [usuario]="usuario()!"
    (fechar)="fecharPopup()"
    (usuarioAtualizado)="onUsuarioAtualizado($event)"
  ></app-user-popup>
}