.home-page {
    display: grid;

    grid-template-rows: auto 1fr;

    grid-template-areas:
        "header"
        "lista";

    min-height: 100vh;
    background: #1e202c;
}

app-home-header {
    grid-area: header;
}

app-lista-projeto {
    grid-area: lista;
}